# Dependencias de Node.js
node_modules/

# Lock files
package-lock.json

# Archivos de sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Archivos de editores
.vscode/
.idea/
*.swp
*.swo

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
